In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.model_selection import cross_val_score,StratifiedKFold
from sklearn.metrics import roc_auc_score,mean_squared_error
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

In [2]:
X_train=pd.read_csv('train_offline.csv')
X_test=pd.read_csv('test_offline.csv')
all_data=pd.concat([X_train,X_test],axis=0)
train_num=X_train.shape[0]

C:\Users\allen\Anaconda3\envs\tensorflow-GPU\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
all_data

,Coupon_id,Date,Date_received,Discount_rate,Distance,Merchant_id,User_id
0,NaN,20160217.0,NaN,NaN,0.0,2632,1439408
1,8591.0,NaN,20160217.0,20:1,0.0,2632,1439408
2,1078.0,NaN,20160319.0,20:1,0.0,2632,1439408
3,7610.0,NaN,20160429.0,200:20,0.0,3381,1832624
4,11951.0,NaN,20160129.0,200:20,1.0,3381,2029232
5,9776.0,NaN,20160129.0,10:5,2.0,3381,2223968
6,12034.0,NaN,20160207.0,100:10,NaN,2099,73611
7,5054.0,NaN,20160421.0,200:30,10.0,1569,163606
8,7802.0,NaN,20160130.0,200:20,10.0,4833,3273056
9,7610.0,NaN,20160412.0,200:20,2.0,3381,94107
10,NaN,20160327.0,NaN,NaN,0.0,8390,253750
11,7531.0,NaN,20160327.0,20:5,0.0,8390,253750
12,13490.0,NaN,20160127.0,30:5,2.0,1041,376492
13,NaN,20160115.0,NaN,NaN,10.0,7884,1964720
14,6704.0,NaN,20160215.0,20:1,10.0,7884,1964720
15,NaN,20160114.0,NaN,NaN,2.0,1041,1113008
16,11197.0,NaN,20160114.0,30:5,2.0,1041,1113008
17,111.0,NaN,20160207.0,30:5,1.0,5341,2881376
18,7531.0,20160329.0,20160321.0,20:5,0.0,8390,2881376
19,111.0,NaN,20160207.0,30:5,1.0,5341,2881376
20,NaN,20160321.0,NaN,NaN,0.0,8390,2881376
21,2840.0,NaN,20160129.0,100:10,10.0,2709,4061024
22,7610.0,NaN,20160426.0,200:20,10.0,3381,4061024
23,9871.0,NaN,20160409.0,30:5,10.0,7555,4061024
24,9776.0,NaN,20160129.0,10:5,10.0,3381,4061024
25,NaN,20160322.0,NaN,NaN,0.0,2934,7073472
26,7610.0,NaN,20160326.0,200:20,0.0,3381,7073472
27,5686.0,NaN,20160322.0,30:5,0.0,2934,7073472
28,9407.0,NaN,20160130.0,100:10,0.0,6485,7073472
29,5686.0,NaN,20160322.0,30:5,0.0,2934,7073472
...,...,...,...,...,...,...,...
1754854,NaN,NaN,NaN,NaN,1.0,4666,195862
1754855,NaN,NaN,NaN,NaN,1.0,4666,195862
1754856,NaN,NaN,NaN,NaN,0.0,6987,522796
1754857,8689.0,NaN,20160516.0,100:10,0.0,6987,522796
1754858,NaN,NaN,NaN,NaN,0.0,760,4182368
1754859,NaN,NaN,NaN,NaN,0.0,760,4182368
1754860,6103.0,NaN,20160521.0,20:5,0.0,760,4182368
1754861,2111.0,NaN,20160511.0,0.8,1.0,7555,261526
1754862,NaN,NaN,NaN,NaN,0.0,5341,3399008
1754863,2366.0,NaN,20160530.0,30:5,0.0,6901,3399008
1754864,NaN,NaN,NaN,NaN,10.0,2709,81675
1754865,2418.0,NaN,20160606.0,30:5,0.0,760,118539
1754866,NaN,NaN,NaN,NaN,0.0,3485,3400544
1754867,NaN,NaN,NaN,NaN,0.0,3485,3400544
1754868,NaN,NaN,NaN,NaN,0.0,3485,3400544
1754869,NaN,NaN,NaN,NaN,0.0,3485,3400544
1754870,10027.0,NaN,20160510.0,0.95,10.0,1553,98091
1754871,2107.0,NaN,20160531.0,30:5,0.0,6901,2876768
1754872,NaN,NaN,NaN,NaN,0.0,6901,2876768
1754873,3469.0,NaN,20160514.0,20:1,NaN,7177,4056416
1754874,10883.0,NaN,20160613.0,100:30,NaN,2420,4056416
1754875,NaN,NaN,NaN,NaN,0.0,5341,179830
1754876,NaN,NaN,NaN,NaN,0.0,6568,188086
1754877,NaN,NaN,NaN,NaN,0.0,6568,188086
1754878,NaN,NaN,NaN,NaN,2.0,2934,212662
1754879,NaN,NaN,NaN,NaN,2.0,2934,212662
1754880,3739.0,NaN,20160504.0,30:1,6.0,3021,212662
1754881,3739.0,NaN,20160508.0,30:1,6.0,3021,212662
1754882,1633.0,NaN,20160613.0,50:10,6.0,7113,752472
1754883,2705.0,NaN,20160523.0,20:5,0.0,3621,752472

In [ ]:
X_train['DateTime_received'] = X_train['Date_received'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
X_train['DateTime'] = X_train['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
X_test['DateTime_received'] = X_test['Date_received'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
X_test=X_test[~(X_test['DateTime_received'].isnull())]  #也可用 X_test.dropna(subset=['DateTime_received'])

In [ ]:
label=[]
x=np.datetime64('NaT')
for r,u in zip(X_train['DateTime_received'].values,X_train['DateTime'].values) :
    if r==x:
        label.append('Invalid')
    elif r!=x and u==x:
        label.append('F')
    elif r!=x and u!=x:
        if u-r<=np.timedelta64(15,'D'):
            label.append('T')
        else :
            label.append('F')
            
X_train['Label']=label
X_train=X_train[~(all_data['Label']=='Invalid')]
y_train=X_train['Label']

In [ ]:
X_train['received_year'] =X_train['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
X_train['received_month'] =X_train['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
X_train['received_day'] =X_train['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')

In [ ]:
X_test['received_year'] =X_test['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
X_test['received_month'] =X_test['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
X_test['received_day'] =X_test['DateTime_received'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')

In [ ]:
X_train.drop(['Date','Date_received','DateTime','DateTime_received','Label'],axis=1,inplace=True)
X_test.drop(['Date_received','DateTime_received'],axis=1,inplace=True)